html, body {
  margin: 0px;
  padding: 0px;
}

#app {
  height: 100vh;
  min-height: 500px;
  min-width: 500px;
  overflow: hidden;
  width: 100vw;
}

#canvas {
  background-color: black;
  height: inherit;
  width: inherit;
}